.navbar-header{
    background-color: #395583;
    height: 50px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.adulogo{
    width: 150px;
    height: 150px;
    margin-top: -3px;
    margin-left: 0px;
}

.navbar-profile{
    position: absolute;
    right: 30px;
    transform: translateY(-87%);
    z-index: 1000;
}

.navbar-profile .dropdown-menu{
    position: absolute;
	top: 100%;
	right: auto;
    left: 30px;
	font-family: var(--app-font);
	z-index: 100;
}

.navbar-text{
    color: white;
    font-size: 15px;
    font-family: var(--app-font);
    position: absolute;
    top: 50%;
    position:fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: right;
    margin-right: -5px;
}

.user-action{
	color: #ffffff;
	font-family: var(--app-font);
	font-size: 16px;
}

.user-action:hover{
	color: #ffffff;
	font-family: var(--app-font);
	font-size: 16px;
}